@import "../../styles/responsive.scss";

.featureCards {
  font-family: "Bebas Neue", sans-serif;
  position: relative;

  .featureCardsImg {
    width: 150px;
    height: 300px;
    border-radius: 5px;
    object-fit: cover;
    transition: all 0.5s;

    @include md {
      width: 120px;
    }
  }


  .featureCardsInfo {
    color: #fff;
    position: absolute;
    top: 25%;
    left: 5%;
    gap: 10px;
    opacity: 0;
    .title {
      font-size: 30px;
      display: -webkit-box;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-align: left;
    }

    .desc {
      font-size: 18px;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
    }

    .featureCardsSmInfo {
      span {
        font-size: 18px;
      }
      .line {
        color: red;
      }
    }

    button {
      width: 30%;
      border: none;
      background: green;
      font-family: "Bebas Neue", sans-serif;
      font-size: 20px;
      border-radius: 4px;
      padding: 5px 10px;
      cursor: pointer;
    }
  }



  &:hover {
    .featureCardsImg {
      width: 200px;
      filter: brightness(0.2);
    }
    .featureCardsInfo {
      opacity: 1;
    }
  }
}
