@import "../../styles/responsive.scss";

.subscriptions {
  .backIcon {
    font-size: 40px;
    margin-top: 50px;
    margin-left: 20px;
  }
  h1 {
    font-size: 60px;
    font-family: "Bebas Neue", sans-serif;
    text-align: center;
  }

  .subscriptionsCards {
    display: flex;
    gap: 10px;
    justify-content: center;

    @include sm {
      flex-direction: column;
      align-items: center;
    }
  }
}
