@import "../../styles/responsive.scss";

.subscriptions{
    h1{
        font-size: 60px;
        font-family: "Bebas Neue", sans-serif;
        text-align: center;
    }

    .backIcon{
        font-size: 50px;
        padding-left: 20px;
      }

    .subscriptionsCards{
        display: flex;
        gap: 10px;
        justify-content: center;

        @include sm {
            flex-direction: column;
            align-items: center;
        }
    }
}