@import "../../styles/responsive.scss";

.register {
  height: 110vh;
  position: relative;
  font-family: "Gabarito", sans-serif;
  background-image: url("../../assets/images/bgImg.png");
  background-size: cover;

  .logo {
    padding: 10px;
    h1 {
      text-align: center;
      font-family: "Bebas Neue", sans-serif;
      letter-spacing: 2px;
      color: #008000;
      font-size: 60px;
    }
  }

  .input {
    background-color: rgba(127, 229, 255, 0.644);
    display: flex;
    flex-direction: column;
    padding: 40px;
    gap: 10px;
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px,
      rgba(0, 0, 0, 0.23) 0px 6px 6px;
    font-family: "Gabarito", sans-serif;
    width: 400px;
    margin: 0 auto;

    @include sm {
      width: 310px;
    }

    @include md {
      padding: 20px;
      min-width: 300px;
    }

    h1 {
      text-align: center;
      font-size: 40px;
      margin-bottom: 30px;
    }
    .inputValid {
      display: flex;
      flex-direction: column;
      .inputType {
        display: flex;
        align-items: center;
        justify-content: center;
        background: #fff;
        border-radius: 10px;
        padding: 10px 30px;

        .viewIcon{
          font-size: 25px;
          margin-left: -30px;
        }


        .inputIcon {
          font-size: 30px;
          margin-right: 10px;
        }

        input {
          background: transparent;
          border: none;
          width: 100%;
          font-size: 15px;
          font-family: "Gabarito", sans-serif;
          font-weight: bold;
          &::placeholder {
            color: #000;
            font-size: 18px;
          }

          &:focus {
            outline: none;
          }
        }
      }

      .formError {
        color: #ff0000;
      }
    }

    span {
      font-size: 16px;

      .loginLink {
        color: #008000;
      }
    }

    .registerButton {
      font-size: 20px;
      font-family: "Gabarito", sans-serif;
      border: none;
      padding: 10px 0px;
      border-radius: 4px;
      font-weight: 600;
      box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
      cursor: pointer;

      &:hover {
        background: rgb(207, 203, 203);
      }
    }
  }
}
