@import "../../styles/responsive.scss";

.watchContainer {
  position: relative;
  min-height: 100vh;

  .watch {
    overflow: hidden;
    z-index: 1;
    .WatchIcon {
      .backIcon {
        font-size: 40px;
        margin-top: 50px;
        margin-left: 20px;

        @include sm {
          margin-left: 5px;
        }
      }
    }

    .video {
      display: flex;
      justify-content: center;
      align-items: center;

      .youtubeW {

      
      }
    }

    .watchInfo {
      margin: 40px 60px;

      @include sm {
        margin: 0px;
      }

      @include md {
        margin: 30px 20px;
      }

      h1 {
        font-size: 50px;

        @include md {
          font-size: 35px;
        }
      }

      p {
        font-size: 35px;
        @include md {
          font-size: 20px;
        }
      }

      span {
        font-size: 30px;

        @include md {
          font-size: 20px;
        }
      }

      .line {
        color: red;
      }
    }
  }

  .noSub {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 110%;
    width: 100%;
    position: absolute;
    top: -90px;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.925);

    .noSubInfo {
      letter-spacing: 1px;
      padding: 30px;
      background-color: aquamarine;
      width: 800px;
      margin: 0px 10px;

      p {
        font-size: 20px;
      }
      .noSubActions {
        float: right;

        button {
          background-color: green;
          padding: 5px;
          border: none;
          font-weight: 500;
          font-size: 20px;
          margin-left: 10px;
          letter-spacing: 1px;
          cursor: pointer;
          margin-top: 10px;
        }
      }
    }
  }
}
