@import "../../styles/responsive.scss";

.subscriptionCard {
  background-image: linear-gradient(163deg, #ff0000 0%, #15ff00 100%);
  border-radius: 20px;
  transition: all 0.3s;
  width: 250px;
  height: 400px;

  @include md {
    width: 230px;
    height: 400px;
  }

  @include lg {
    width: 260px;
    height: 400px;
  }

  .card2 {
    background-size: cover;
    width: 250px;
    height: 400px;
    background-color: #1a1a1a;
    transition: all 0.2s;
    position: relative;

    @include md {
      width: 230px;
      height: 400px;
    
    }

    @include lg {
      width: 260px;
      height: 400px;
    }

  }
  .card2:hover {
    transform: scale(0.98);
    border-radius: 20px;
    background-blend-mode: soft-light;
  }

  .card:hover {
    box-shadow: 100px 100px 300px 100px rgba(0, 26, 255, 0.884);
  }

  .subscriptionCardInfo {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: "Bebas Neue", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    h1 {
      font-size: 39px;
      color: #fff;
      letter-spacing: 2px;

      @include md {
        font-size: 29px;
      
      }

      @include lg {
        font-size: 33px;
      
      }
    }
    p {
      font-size: 40px;
      color: aqua;
      letter-spacing: 2px;
    }

    button {
      padding: 5px 20px;
      background: green;
      border: none;
      border-radius: 5px;
      font-family: "Bebas Neue", sans-serif;
      font-size: 30px;
      cursor: pointer;
    }
  }
}
