@import "../../styles/responsive.scss";

.settingsContainer {
  min-height: 90vh;
  .prevIcon {
    padding-top: 50px;
    padding-left: 20px;

    @include md {
      padding-left: 5px;
    }
    .backIcon {
      font-size: 40px;
    }
  }
  .settings {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    .settingsSke {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      min-height: 100vh;

      .subChild {
        margin-top: 10px;
        border-radius: 10px;
      }
    }

    .sub {
      .subChild {
        margin-top: 20px;
        border-radius: 10px;
      }
    }

    .settingsWrapper {
      padding: 40px;
      position: relative;
      border-radius: 5px;
      margin: 0px 10px;
      width: 600px;
      @include sm {
        margin: 0px 10px;
        padding: 10px;
      }
      .profileData {
        .right {
          font-family: "Gabarito", sans-serif;
          display: flex;
          flex-direction: column;
          align-items: center;

          .updateMode {
            display: flex;
            flex-direction: column;
            gap: 9px;
            .inputValid {
              .inputType {
                input {
                  font-family: "Gabarito", sans-serif;
                  background-color: transparent;
                  border: none;
                  border-bottom: 2px solid white;
                  font-size: 24px;
                  font-weight: bold;
                  color: white;
                  text-align: center;
                  outline: none;
                }
              }
              .formError {
                color: red;
              }
            }
          }

          .profileName {
            h3 {
              color: white;
              text-align: center;
              margin: 15px 0px;
              font-size: 25px;
            }
          }

          .profileEmail {
            p {
              text-align: center;
              color: white;
              font-size: 20px;
              font-weight: 600;
            }
          }

          .profileInputForm {
            .formError {
              color: red;
              font-weight: 600;
              margin-top: 5px;
            }
          }
        }
      }

      .profileEditBtn {
        display: flex;
        button {
          border: none;
          font-size: 20px;
          font-weight: 600;
          background-color: aqua;
          border-radius: 3px;
          padding: 5px 10px;
          color: white;
          cursor: pointer;
          letter-spacing: 2px;
          width: 100%;
          margin: 10px 0px;
          letter-spacing: 2px;
          margin-left: 10px;

          &:hover {
            background-color: rgb(25, 175, 175);
          }

          &:first-child {
            background-color: red;

            &:hover {
              background-color: rgb(182, 17, 17);
            }
          }
        }
      }
      .changePwd {
        color: white;
        letter-spacing: 2px;
        text-align: center;
      }
    }

    .lineBr {
      margin: 20px 0px;
    }
    .subscriptionPlans {
      letter-spacing: 1px;
      color: white;

      padding-right: 10px;
      &::-webkit-scrollbar {
        width: 8px;
      }

      &::-webkit-scrollbar-thumb {
        background-color: #888;
        border-radius: 10px;
      }

      &::-webkit-scrollbar-thumb:hover {
        background-color: #555;
      }

      &::-webkit-scrollbar-track {
        background-color: #333;
      }

      scroll-behavior: smooth;

      scrollbar-width: thin;
      scrollbar-color: #888 #333;

      p {
        font-size: 20px;
      }

      .subscriptionPlansData {
        display: flex;
        border-radius: 3px;
        padding: 10px;
        justify-content: space-between;
        z-index: 1;
        position: relative;
        margin-top: 10px;

        @media screen and (max-width: 520px) {
          display: block;
        }

        @include sm {
          display: block;
        }

        &::before {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background-image: url("../../assets/images/st.jpg");
          background-size: cover;
          background-position: center;
          border-radius: inherit;
          filter: brightness(30%);
          z-index: -1;
        }
        .planInfo {
          &.left {
            margin-right: 20px;

            @include md {
              // margin-right: -22px;
            }
          }
          p {
            font-weight: 300;
            font-size: 14px;

            span {
              font-weight: 500;
              color: aquamarine;
              font-size: 18px;
            }
          }
          .subscriptionPlansDataBtn {
            button {
              background-color: aqua;
              cursor: pointer;
              padding: 7px;
              color: white;
              border: none;
              font-size: 16px;
              letter-spacing: 1px;
              border-radius: 2px;
              &:first-child {
                margin-right: 5px;
                background-color: red;
              }
            }
          }
        }
      }
    }
    .noplan {
      letter-spacing: 1px;
      font-size: 20px;

      color: rgb(187, 22, 22);

      .seeplan {
        color: aqua;
        cursor: pointer;
        margin-left: 5px;

        &:hover {
          color: rgba(0, 255, 255, 0.767);
        }
      }
    }
  }
}

.openCancel {
  position: absolute;
  background-color: whitesmoke;
  padding: 10px;
  right: 50px;
  z-index: 20;
  border-radius: 3px;

  @include sm {
    top: 60px;
  }

  .openCancelInfo {
    p {
      color: black;
    }
    button {
      border-radius: 3px;
      padding: 5px;
      border: none;
      font-family: "Bebas Neue", sans-serif;
      font-size: 16px;
      letter-spacing: 2px;
      font-weight: 600;
      float: right;
      cursor: pointer;
      margin-left: 10px;
      background-color: aqua;
    }

    :last-child {
      background-color: rgb(209, 16, 16);
    }
  }
}
