@import "../../styles/responsive.scss";

.settings {
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  @include sm {
    height: 70vh;
  }

  .profileBack {
    position: absolute;
    font-size: 34px;
    cursor: pointer;
    top: 10px;
    left: 10px;
  }
  .settingsWrapper {
    background: linear-gradient(90deg, #00c9ff 0%, #92fe9d 100%);
    padding: 40px;
    position: relative;
    border-radius: 5px;
    width: 600px;
    .profileData {
      display: flex;
      justify-content: space-around;

      .left {
        .profileUpdatedImg {
          position: relative;

          img {
            height: 150px;
            object-fit: cover;
            width: 150px;
            border-radius: 50%;
            transition: all 0.2s ease-in;
            cursor: pointer;
          }
        }
        p {
          display: none;
          position: absolute;
          right: 23%;
          cursor: pointer;
          top: 43%;
          color: white;
          padding: 5px;
          font-size: 20px;
          font-weight: 500;
        }
        &:hover img {
          filter: brightness(0.3);
          transform: scale(1.1);
        }
        &:hover span {
          display: block;
        }
      }

      .right {
        font-family: "Gabarito", sans-serif;
        display: flex;
        flex-direction: column;
        align-items: center;
        .profileName {
          h3 {
            color: white;
            text-align: center;
            margin: 12px 0px;
            font-size: 25px;
          }
        }

        .ProfileEmail {
          text-align: center;
          color: white;
          font-size: 20px;
          font-weight: 600;
        }

        .profileInputForm {
          .formError {
            color: red;
            font-weight: 600;
            margin-top: 5px;
          }

          input {
            border: none;
            width: 100%;
            max-width: 200px;
            border-bottom: 2px solid aqua;
            color: white;
            text-align: center;
            background-color: transparent;
            font-size: 20px;
            &:focus {
              outline: none;
            }

            &::placeholder {
              font-size: 20px;
            }
          }

          &:first-child {
            input {
              background: none;
              text-align: center;

              margin: 5px 0px;
              font-size: 25px;
              font-weight: 600;
            }
          }

          &:last-child {
            input {
              background: none;
              margin: 5px 0px;
              font-size: 20px;
              font-weight: 600;
            }
          }
        }
      }

      .profileEditBtn {
        button {
          border: none;
          font-size: 20px;
          font-weight: 600;
          background-color: aqua;
          border-radius: 3px;
          padding: 5px 0px;
          color: white;
          cursor: pointer;
          letter-spacing: 2px;
          width: 100%;
          margin: 10px 0px;
          letter-spacing: 2px;
          font-family: "Bebas Neue", sans-serif;

          &:hover {
            background-color: rgb(25, 175, 175);
          }
        }

        .changePwd {
          color: white;
          font-family: "Bebas Neue", sans-serif;
          letter-spacing: 2px;
        }
      }
    }

    .lineBr {
      // color: red;
      margin: 20px 0px;
    }
    .subscriptionPlans {
      font-family: "Bebas Neue", sans-serif;
      letter-spacing: 1px;
      color: white;

      p {
        font-size: 20px;
      }

      .subscriptionPlansData {
        display: flex;
        border-radius: 3px;
        padding: 10px;
        justify-content: space-between;
        z-index: 1;
        position: relative;

        &::before {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background-image: url("../../assets/images/spider.jpg");
          background-size: cover;
          background-position: center;
          border-radius: inherit;
          filter: brightness(30%);
          z-index: -1;
        }
        .planInfo {
          p{
            font-weight: 300;
            font-size: 14px;

            span{
              font-weight: 500;
              color: aquamarine;
              font-size: 18px;
            }
          }
          .subscriptionPlansDataBtn {
            button {
              background-color: aqua;
              cursor: pointer;
              padding: 7px;
              color: white;
              border: none;
              font-family: "Bebas Neue", sans-serif;
              font-size: 16px;
              letter-spacing: 1px;
              border-radius: 2px;
              &:first-child {
                margin-right: 10px;
              background-color: red;

              }

             
            }
           
          }
          
        }
      }
      .noplan{
        color: rgb(187, 22, 22);
      }
    }
  }
}
