@import url('https://fonts.googleapis.com/css2?family=Agbalumo&family=Bebas+Neue&family=Gabarito&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Agbalumo&family=Bebas+Neue&family=Gabarito&display=swap');


*{
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  box-sizing: border-box;
}

a{
  text-decoration: none;
  color: inherit;
}

.app {
  position: relative;

  .navbar {
    position: fixed;
    top: 0;
    width: 100%;
  }
}

