@import "../../styles/responsive.scss";

.feature {
  // height: 85vh;
  overflow: hidden;
  z-index: 0;
  // height: clamp(400px, 50vh, 600px);
  height: clamp(400px, 85vh, 600px);

  // @include xxl{
  //   // height: 70vh;
  // }

  // @include xl {
  //   height: 54vh;
  // }

  // @include lg {
  //   height: 62vh;
  // }

  // @include md {
  //   height: 50vh;
  // }

  // @include sm {
  //   height: 50vh;
  // }

  .featureContainer {
    position: relative;
    .featureBgImg {
      width: 100%;
      // height: 70vh;
      object-fit: cover;
      filter: brightness(0.3);
      height: clamp(400px, 47vh, 600px);

      // @include xl {
      //   height: 50vh;
      // }

      // @include lg {
      //   height: 50vh;
      // }

      // @include md {
      //   height: 50vh;
      // }
    }
    .featureAllCards {
      position: absolute;
      top: 40%;
      left: 50%;
      transform: translate(-50%, 10%);
      display: flex;
      gap: 10px;

      @include xl {
        top: 41%;
      }

      @include lg {
        top: 54%;
      }

      @include md {
        display: none;
      }
    }

    .info {
      position: absolute;
      top: 15%;
      left: 5%;
      width: clamp(300px, 90vw, 700px);
      z-index: 3;

      @include md {
        top: 30%;
      }

      @include sm {
        top: 30%;
      }

      @include Esm {
        top: 20%;
      }
      h1 {
        font-size: 60px;
        color: #fff;
        letter-spacing: 2px;
        animation: fadeInFromTop 0.5s ease-in-out;

        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        overflow: hidden;

        @include sm {
          font-size: 30px;
        }

        @include md {
          font-size: 35px;
        }
      }

      p {
        font-size: 20px;
        color: white;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        animation: fadeInFromLeft 0.5s ease-in-out;

        @include sm {
          font-size: 16px;
        }

        @include md {
          font-size: 18px;
        }
      }

      .smInfo {
        margin: 10px 0px;
        animation: fadeInFromLeft 0.5s ease-in-out;

        span {
          font-size: 20px;
          color: #fff;

          @include sm {
            font-size: 16px;
          }
        }

        .line {
          color: red;
        }

        .rating {
          .ratings {
            width: 20px;
          }
        }
      }

      button {
        padding: 8px 15px;
        border: none;
        font-size: 20px;
        border-radius: 4px;
        cursor: pointer;
        animation: fadeInFromBottom 0.5s ease-in-out;
      }

      @keyframes fadeInFromTop {
        from {
          opacity: 0;
          transform: translateY(-20px);
        }
        to {
          opacity: 1;
          transform: translateY(0);
        }
      }

      @keyframes fadeInFromLeft {
        from {
          opacity: 0;
          transform: translateX(-20px);
        }
        to {
          opacity: 1;
          transform: translateX(0);
        }
      }

      @keyframes fadeInFromBottom {
        from {
          opacity: 0;
          transform: translateY(20px);
        }
        to {
          opacity: 1;
          transform: translateY(0);
        }
      }
    }
  }
}
