@import "../../styles/responsive.scss";

.queryMoviesContainer {
  min-height: 80vh;
  &.hasMovies {
    height: 80vh;
  }

  .prevIcon {
    display: flex;
    padding-top: 60px;
    padding-left: 20px;

    @include sm {
    }

    .backIcon {
      font-size: 40px;

      @include sm {
        font-size: 20px;
      }
    }
    h1 {
      letter-spacing: 2px;

      @include sm {
        font-size: 20px;
      }
    }

    @include sm {
      padding-left: 10px;
    }
  }
  .queryMovies {
    margin: 5px 20px 10px 20px;

    @include md {
      margin: 0px 5px;
    }

    @include sm {
      margin: 0px;
    }
    .queryAllMovies {
      display: grid;
      overflow: hidden;
      grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
      gap: 65px;
      row-gap: 20px;

      &.hasError {
        display: block;
      }

      @include xxxl {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 5px;
      }
      
      @include xxl {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 5px;
      }

      @include xl {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 5px;
      }

      @include lg {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 5px;
      }

      @include md {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 5px;
      }

      @include sm {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 0;
      }
    }

    .hasError {
      font-size: 20px;
      color: rgb(197, 24, 24);
      margin-left: 5px;
    }
  }
}
