.queryMoviesContainer {
  font-family: "Bebas Neue", sans-serif;
  // height: 60vh;

  &.hasMovies{
    height: 60vh;
}

  .prevIcon {
    display: flex;
    padding-top: 60px;
    padding-left: 20px;

   
 

    .backIcon {
      font-size: 40px;
    }
    h1 {
      letter-spacing: 2px;
    }
  }
  .queryMovies {
    margin: 5px 20px 10px 20px;
    .queryAllMovies {
      display: grid;
      overflow: hidden;
      grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
      gap: 65px;
      row-gap: 20px;
    }
  }
}
