@import "../../styles/responsive.scss";

.navbar {
  width: 100%;
  color: white;
  z-index: 99;
  transition: all 0.5s;

  &.scrolled {
    background-color: black;
  }

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 10px;

    @include sm {
      padding: 0px 2px;
    }
    .left {
      cursor: pointer;

      h1 {
        font-size: 40px;
        letter-spacing: 2px;
        color: green;

        @include sm {
          font-size: 35px;
        }

        @media screen and (max-width: 420px) {
          font-size: 30px;
          display: flex;
          align-items: center;
        }
      }
    }

    .right {
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;

      .navOptions {
        cursor: pointer;
        font-family: "Gabarito", sans-serif;
        font-size: 20px;
        font-weight: 600;
        margin-right: 20px;
        color: white;
        padding: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;

        @include lg {
          margin-right: 10px;
        }

        @include md {
          margin-right: 10px;
        }

        @media screen and (max-width: 750px) {
          &.seriesLink {
            margin-right: 10px;
          }
        }

        @include sm {
          &.seriesLink {
            margin-right: 20px;
          }

          &.homepageLink {
            display: none;
          }
        }

        @media screen and (max-width: 420px) {
          font-size: 16px;
        }

        @media screen and (max-width: 350px) {
          display: none;
        }

        &:hover {
          .genre {
            display: flex;
            @include sm {
              display: none;
            }
          }
        }

        .genre {
          display: none;
          position: absolute;
          top: 40px;
          left: 0;
          background: black;
          color: white;
          flex-direction: column;
          width: 200px;
          box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
          border-radius: 5px;

          span {
            padding: 5px;
            font-size: 16px;
            width: 100%;
            cursor: pointer;
            &:hover {
              background-color: #333; /* Highlight on hover */
            }
          }
        }
      }

      .searchOption {
        margin-right: 20px;
        border: 1px solid white;
        display: flex;
        align-items: center;
        border-radius: 20px;
        position: relative;

        @include sm {
          &.closedSearch {
            input {
              display: block;
              background-color: black;
              width: 100vw; 
              position: fixed;
              left: 0; 
              top: 9%; 
              transform: translateY(-50%);
              z-index: 1000;
              font-size: 20px;

              @include sm {
                top: 58px;
              }

              @media screen and (max-width: 420px) {
                top: 54px;
              }
            }
          }
        }

        @include lg {
          margin-right: 10px;
        }

        @include md {
          margin-right: 10px;
        }

        @media screen and (max-width: 750px) {
          margin-right: 40px;
        }

        @include sm {
          border: none;
        }

        .search {
          font-size: 20px;
          margin-left: 10px;

          @include sm {
            margin-right: 20px;
            margin-left: 0;
          }
        }

        input {
          padding: 10px;
          background-color: transparent;
          border: 1px solid white;
          border: none;
          outline: none;
          font-size: 14px;
          color: white;
          font-family: "Gabarito", sans-serif;
          width: 100%;

          @media screen and (max-width: 750px) {
            font-size: 10px;
          }

          @include sm {
            display: none;
            position: absolute;
            width: 300px;
          }

          &::placeholder {
            font-weight: bold;
            font-size: 14px;

            @media screen and (max-width: 750px) {
              font-size: 15px;
            }
          }
        }

        .searchItem {
          position: absolute;
          top: 40px;
          left: 0;
          background: black;
          color: white;
          flex-direction: column;
          width: 300px;
          height: 500px;
          overflow-y: auto;
          box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
          border-radius: 5px;
          padding: 10px;

          @include md {
            left: -100%;
            top: 150%;
          }

          @include sm {
            left: -649%;
            top: 325%;
          }

          .recentSearched {
            font-size: 14px;
            color: green;
            pointer-events: none;
          }

          p {
            padding: 5px;
            font-size: 13px;
            cursor: pointer;
            font-family: "Gabarito", sans-serif;
            font-weight: bold;

            &:hover {
              background-color: #333;
            }

            .searchType {
              color: red;
            }
            .searchValue {
              font-size: 13px;
            }

            &:hover {
              background-color: #333;
              border-radius: 10px;
            }
          }
        }
      }

      .subscribe {
        margin-right: 20px;
        font-size: 20px;
        padding: 5px 10px;
        border-radius: 9px;
        background: #d5f365;
        border: none;
        text-align: center;
        cursor: pointer;
        transition: 0.4s;

        @include sm {
          display: none;
        }

        @media screen and (max-width: 750px) {
          display: none;
        }

        &:hover {
          box-shadow: 7px 5px 56px -14px #c3d900;
        }

        &:active {
          transform: scale(0.97);
          box-shadow: 7px 5px 56px -10px #c3d900;
        }
      }

      ///////////////////////////////////////////

      .button {
        letter-spacing: 1px;
        font-size: 20px;
        padding: 5px 10px;
        margin-right: 20px;

        border-radius: 9px;
        display: inline-block;
        text-align: center;
        position: relative;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.1);
        text-decoration: none;
        transition: 0.3s ease all;
        z-index: 1;
        border: none;
        cursor: pointer;

        @include sm {
          display: none;
        }

        @media screen and (max-width: 750px) {
          display: none;
        }

        // @media screen and (max-width: 849px) {
        //   display: none;
        // }
      }

      .button:before {
        transition: 0.5s all ease;
        position: absolute;
        top: 0;
        left: 50%;
        right: 50%;
        bottom: 0;
        opacity: 0;
        content: "";
        background: #000;
        border: 2px solid white;
        z-index: -1;
      }

      .button:hover,
      .button:focus {
        color: white;
      }

      .button:hover:before,
      .button:focus:before {
        transition: 0.5s all ease;
        left: 0;
        right: 0;
        opacity: 1;
      }

      .button:active {
        transform: scale(0.9);
      }
      .user {
        background-color: aqua;
        padding: 5px 8px;
        border-radius: 5px;
        cursor: pointer;
        margin-right: 10px;

        @include sm {
          display: none;
        }

        @media screen and (max-width: 750px) {
          display: none;
        }

        // @include md {
        //   display: none;
        // }
        // @media screen and (max-width: 849px) {
        //   display: none;
        // }

        .userIcon {
          font-size: 20px;
        }
      }
    }
  }
}
