@import "../../styles/responsive.scss";

.navbar {
  width: 100%;
  color: white;
  z-index: 99;
  transition: all 0.5s;
  // overflow: hidden;

  &.scrolled {
    background-color: black;
  }

  .mobileSidebar {
    @media (min-width: 505px) {
      display: none;
    }
  }

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 10px;
    // height: 70px;
    .left {
      cursor: pointer;
      font-size: 20px;
      h1 {
        font-family: "Bebas Neue", sans-serif;
        letter-spacing: 2px;
        color: yellow;

        .f {
          &:hover {
            color: green;
          }
        }
        .s {
          &:hover {
            color: red;
          }
        }
      }
    }

    .right {
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;

      @media (max-width: 505px) {
        display: none;
      }

      .navOptions {
        cursor: pointer;
        font-family: "Gabarito", sans-serif;
        font-size: 20px;
        font-weight: 600;
        margin-right: 40px;
        color: white;
        padding: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;

        &:hover {
          .genre {
            display: flex;
          }
        }

        .genre {
          display: none;
          position: absolute;
          top: 40px;
          left: 0;
          background: black;
          color: white;
          flex-direction: column;
          width: 200px;
          box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Optional: Adds shadow for better visibility */

          span {
            padding: 5px;
            font-size: 16px;
            width: 100%;
            cursor: pointer;
            &:hover {
              background-color: #333; /* Highlight on hover */
            }
          }
        }
      }

      .subscribe {
        font-family: "Bebas Neue", sans-serif;
        margin-right: 20px;
        font-size: 20px;
        padding: 5px 10px;
        border-radius: 9px;
        background: #d5f365;
        border: none;
        text-align: center;
        cursor: pointer;
        transition: 0.4s;

        &:hover {
          box-shadow: 7px 5px 56px -14px #c3d900;
        }

        &:active {
          transform: scale(0.97);
          box-shadow: 7px 5px 56px -10px #c3d900;
        }
      }

      ///////////////////////////////////////////

      .button {
        font-family: "Bebas Neue", sans-serif;
        letter-spacing: 1px;
        font-size: 20px;
        padding: 5px 10px;
        margin-right: 20px;

        border-radius: 9px;
        display: inline-block;
        text-align: center;
        position: relative;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.1);
        text-decoration: none;
        transition: 0.3s ease all;
        z-index: 1;
        border: none;
        cursor: pointer;
      }

      .button:before {
        transition: 0.5s all ease;
        position: absolute;
        top: 0;
        left: 50%;
        right: 50%;
        bottom: 0;
        opacity: 0;
        content: "";
        background: #000;
        border: 2px solid white;
        z-index: -1;
      }

      .button:hover,
      .button:focus {
        color: white;
      }

      .button:hover:before,
      .button:focus:before {
        transition: 0.5s all ease;
        left: 0;
        right: 0;
        opacity: 1;
      }

      .button:active {
        transform: scale(0.9);
      }
      .user {
        background-color: aqua;
        padding: 5px 8px;
        border-radius: 5px;
        cursor: pointer;
        .userIcon {
          font-size: 20px;
        }
      }
    }
  }
}
