@import "../../styles/responsive.scss";

.mobileFeatureSlide {
  display: flex;
  justify-content: center;
  .container {
    width: 1400px;
    position: relative;
  }

  .carousel-initialized {
    position: static;
  }

  .carousel-prev,
  .carousel-next {
    width: 40px;
    height: 40px;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;

    @include sm {
      display: none;
    }
  }

  .carousel-prev:before {
    background-image: url("../../assets/ArrowImage/arrow-prev.svg");
  }

  .carousel-next:before {
    background-image: url("../../assets/ArrowImage/arrow-next.svg");
  }
  .carousel-prev {
    left: -25px;
  }
  .carousel-next {
    right: -30px;
  }
}
