@import "../../styles/responsive.scss";

.movieLists {
  margin: 0 30px;
  padding-bottom: 10px;

  @include sm {
    margin: 0 10px;
  }

  .movieListsTop {
    display: flex;
    font-family: "Bebas Neue", sans-serif;
    justify-content: space-between;

    h1 {
      font-size: 40px;
      letter-spacing: 2px;
    }

    p{
        letter-spacing: 1px;
        cursor: pointer;
        display: flex;
        align-items: center;
        font-size: 20px;
    }
  }
}
